@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 5px;
    }
}

@media screen and (orientation: landscape) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        gap: 10px;
    }
}

.spacing {
    margin-left: 7.5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.playSpacing {
    margin-left: 7.5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.upButton {
    align-items: center;
    align-self:center;
    transform: rotateX(180deg);
    flex: 2;
}

.downButton {
    align-items: center;
    align-self:center;
    flex: 2;
}

.playButton {
    align-items: center;
    align-self:center;
    flex: 1.5;
}