@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (orientation: portrait) {
    .container {
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 5px;
    }
}

@media screen and (orientation: landscape) {
    .container {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
    }
}

@media screen and (orientation: portrait) {
    .spacing {
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}

@media screen and (orientation: landscape) {
    .spacing {
        margin-left: 5%;
        margin-right: 2.5%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        width: 100%;
        height: 100%;
    }
}

@media screen and (orientation: portrait) {
    .playSpacing {
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}

@media screen and (orientation: landscape) {
    .playSpacing {
        margin: auto;
        width: 80%;
    }
}

.upButton {
    order: 1;
    align-items: center;
    align-self:center;
    transform: rotateX(180deg);
}

.downButton {
    order: 3;
    align-items: center;
    align-self:center;
}

@media screen and (orientation: portrait) {
    .pauseButton{
        order: 2;
        align-items: center;
        align-self:center;
    }
}

@media screen and (orientation: landscape) {
    .pauseButton {
        position: fixed;
        width: 20%;
        height: auto;
        top: 10%;
    }
}

@media screen and (orientation: portrait) {
    .returnButton {
        order: -1;
        margin: -7px -9px -50px -4px;
    }
}

@media screen and (orientation: landscape) {
    .returnButton {
        order: 2;
        align-self: flex-end;
        margin-left: 5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin: auto;
    }
}

@media screen and (orientation: landscape) {
    #portraitReturn {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    #portraitReturn {
        position: relative;
        top: -10%;
        right: -130%;
        height: 130px;
    }
}

@media screen and (orientation: portrait) {
    #landscapeReturn {
        display: none;
    }
}


.bottomReturn {
    position: fixed;
    left: 40%;
    width: 30%;
    margin:  0 auto;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}